body{
    background-color: #4c6c70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    position: center;
    margin-left: 25%;
    border: solid black 2px;
    
}
p{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    background-color: #597d82;
    

}
#input{
    text-align: center;
    border: solid black 2px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;

}
img{
    height: 20px;
    float: right;
    margin-right: 20px;
    
}

li{
    list-style-type: none;
    text-align: center;
    margin-left: 30px;
    
}

#check{
    float: left;
    margin-left: -20px;
    margin-top: 10px;
}

.tasktrue{
    color:#444;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 26px;

}

.taskfalse{
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}
